<div class="card">
    <div class="card-header">
        Editar empleado
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formEmpleados" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input required formControlName="nombre" type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Introduce tu nombre">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input required formControlName="correo" type="email"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Introduce tu correo">
              </div>
              <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-warning">Editar</button>
                <button type="submit" routerLink="/listar-empleado/" class="btn btn-primary">Cancelar</button>
              </div>
        </form>
    </div>
</div>